@using EventiaWebapp.Services
@inject EventsHandler _event
@model EventiaWebapp.Models.User

@{
    ViewBag.Title = "My Events";
}

@{
    var attendeeModel = await _event.SingleAttendeeEventList(@Model);
}


<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Place</th>
        <th scope="col">Organizer</th>
    </tr>
    </thead>


    <tbody>
    
    @foreach (var item in attendeeModel)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Place</td>
        </tr>
    } *

    </tbody> 
</table> 